@media all and (max-width:620px)
{
		h1 {
		text-align: center;
		}
		h2 {
		font-size: 40px;
		margin-bottom: none;
		}
		input {
		width: 100%;
		}
		p {
		margin: none;
		}
		input[type=radio] {
			width:25%;
		}
		button {
			width: 40%;
		}
		div {
			float: middle;
		}