/* Style the tooltip box
*/
.tooltip {	
	display					: none;
	position				: relative;	
	background-color		: lightblue;	
	border-radius			: 5px;		
	text-align				: center;	
	padding					: 5px;	
	left					: 1em;	
}
.tooltip:after {	
	position				: absolute;	
	top						: 10px;	
	border-style			: solid;
	height					: 0;
	width					: 0;
}